<div class="d-flex align-items-center justify-content-between">
  <h1 class="fs-4 fw-bold">
    {{ isUpdate ? 'Cập nhật sản phẩm' : 'Thêm sản phẩm' }}
  </h1>
  <a [routerLink]="['/admin/product']"
    class="btn btn-primary bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
    Quản lý sản phẩm
  </a>
</div>
<form class="mt-4" action="" (ngSubmit)="handleSubmit()" [formGroup]="productForm">
  <div class="mb-4"> <label for="name" class="form-label">Tên sản phẩm</label>
    <input class="form-control" type="text" id="name" placeholder="Nhập tên sản phẩm..." formControlName="name"
      [(ngModel)]="product.name" />
    <div class="text-danger" *ngIf=" !productForm.get('name')?.valid && productForm.get('name')?.touched "> {{
      getErrorMessage("name") }} </div>
  </div>
  <div class="mb-4"> <label for="price" class="form-label">Giá sản phẩm</label>
    <input class="form-control" type="number" id="price" placeholder="Nhập giá ..." formControlName="price"
      [(ngModel)]="product.price" />
    <div class="text-danger" *ngIf=" !productForm.get('price')?.valid && productForm.get('price')?.touched "> {{
      getErrorMessage("price") }} </div>
  </div>
  <div class="mb-4"> <label for="discount" class="form-label">Khuyến mại</label>
    <input class="form-control" type="number" id="discount" placeholder="Nhập giá ..." formControlName="discount"
      [(ngModel)]="product.discount" />
    <div class="text-danger" *ngIf=" !productForm.get('discount')?.valid && productForm.get('discount')?.touched "> {{
      getErrorMessage("discount") }} </div>
  </div>
  <div class="mb-4">
    <label for="quantity" class="form-label">Số lượng</label>
    <input class="form-control" type="number" id="quantity" placeholder="Nhập số lượng..." formControlName="quantity"
      [(ngModel)]="product.quantity" />
    <div class="text-danger" *ngIf="!productForm.get('quantity')?.valid && productForm.get('quantity')?.touched">
      {{ getErrorMessage("quantity") }}
    </div>
  </div>
  <div class="mb-4">
    <label for="image" class="form-label">Ảnh sản phẩm</label>
    <input class="form-control" type="file" id="image" (change)="onImageSelect($event)" />
    <input type="text" formControlName="image" [(ngModel)]="product.image">
    <div class="text-danger" *ngIf="!productForm.get('image')?.valid && productForm.get('image')?.touched">
      {{ getErrorMessage("image") }}
    </div>
  </div>
  <div *ngIf="product.image && !!isUpdate">
    <img [src]="product.image" alt="Product Image" class="img-fluid" width="150px">
  </div>
  <div class="mb-4">
    <label for="desc" class="form-label">Mô tả sản phẩm</label>
    <textarea class="form-control" id="desc" placeholder="Nhập mô tả" formControlName="desc" [(ngModel)]="product.desc">
    </textarea>
    <div class="text-danger" *ngIf="!productForm.get('desc')?.valid && productForm.get('desc')?.touched">
      {{ getErrorMessage("desc") }}
    </div>
  </div>
  <div class="mt-6 d-flex w-100">
    <button type="submit" class="btn btn-primary w-100"> {{isUpdate?"Cập nhật":"Thêm mới"}} </button>
  </div>
</form>