<div class="container py-5">
  <p class="text-start fs-4 fw-medium mb-4">Danh sách sản phẩm</p>
  <div class="row g-3">
    <div class="col-md-3" *ngFor="let product of products ">
      <a
        [routerLink]="['/detail', product.id]"
        class="card bg-light text-dark shadow-sm text-decoration-none"
      >
        <img
          src="{{ product.image }}"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            Từ {{ product.price }}
            <span class="text-decoration-line-through text-muted"
              >130.000đ</span
            >
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
