<header class="navbar navbar-dark sticky-top bg-white flex-md-nowrap p-0 shadow header">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-primary" href="#">Company name</a>
  <!-- <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="d-flex justify-content-between align-items-center w-100 px-4">
    <div class=" d-flex align-items-center gap-2">
      <input class="form-control form-control-dark  py-2 " type="text" placeholder="Search" aria-label="Search">
      <button class="btn px-3 py-2 btn-outline-success" type="button">Button</button>
    </div>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3 text-primary" href="#">Sign out</a>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid ">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar collapse ">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column gap-2">
          <li class="nav-item cursor-pointer hover-item" [class.active]="activeIndex === 0" (click)="toggleActive(0)">
            <div class="nav-link text-white " aria-current="page" [routerLink]="['/admin']">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-home" aria-hidden="true">
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                <polyline points="9 22 9 12 15 12 15 22"></polyline>
              </svg>
              Dashboard
            </div>
          </li>
          <li class="nav-item cursor-pointer hover-item" [class.active]="activeIndex === 1" (click)="toggleActive(1)">
            <div class="nav-link text-white " routerLink="list_products">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-shopping-cart" aria-hidden="true">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg>
              Quản lý sản phẩm
            </div>
          </li>
          <li class="nav-item cursor-pointer hover-item" [class.active]="activeIndex === 2" (click)="toggleActive(2)">
            <div class="nav-link text-white " [routerLink]="['/admin']">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-users" aria-hidden="true">
                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                <circle cx="9" cy="7" r="4"></circle>
                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
              </svg>
              Quản lý nhân viên
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-surface-secondary">

      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script> -->
<script>
  feather.replace()
</script>