<header class="bg-custom">
  <div class="container-fluid d-flex align-items-center justify-content-between px-4" style="height: 100px">
    <a class="text-teal-600" href="#">
      <img src="../../../assets/img/logo.png" alt="" class="rounded" style="width: 80px" />
    </a>

    <div class="d-flex flex-grow-1 align-items-center justify-content-end justify-content-md-between">
      <nav aria-label="Global" class="d-none d-md-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Shop </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Services </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Projects </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"> Blog </a>
          </li>
        </ul>
      </nav>

      <form (ngSubmit)="onSearch()" [formGroup]="searchForm" class="d-none d-lg-inline-block w-50">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm..." formControlName="keywords" />
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>

      <div class="d-flex align-items-center gap-2">
        <div class="d-sm-flex gap-2">
          <button class="btn btn-secondary" routerLink="login">Login</button>
          <button class="btn btn-secondary" routerLink="register">Register</button>
        </div>
      </div>
    </div>
  </div>
</header>