<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h2 class="mb-4 pb-2 pb-md-0 mb-md-5">Sửa sản phẩm</h2>
            <form (ngSubmit)="handleSubmit()" [formGroup]="productForm">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="name">Tên sản phẩm</label>
                  <div data-mdb-input-init class="form-outline">
                    <input
                      type="text"
                      id="name"
                      class="form-control form-control-lg"
                      placeholder="Nhập tên sản phẩm..."
                      formControlName="name"
                    />

                    <div
                      class="text-danger"
                      *ngIf="
                        !productForm.get('name')?.valid &&
                        productForm.get('name')?.touched
                      "
                    >
                      Bắt buộc phải nhập lớn hơn 3
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="image">Ảnh sản phẩm</label>
                    <input
                      type="text"
                      id="image"
                      class="form-control form-control-lg"
                      placeholder="Nhập ảnh"
                      formControlName="image"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="quantity">Số lượng</label>
                    <input
                      type="text"
                      id="quantity"
                      class="form-control form-control-lg"
                      placeholder="Nhập số lượng..."
                      formControlName="quantity"
                    />
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      !productForm.get('quantity')?.valid &&
                      productForm.get('quantity')?.touched
                    "
                  >
                  Số lượng phải lớn hơn 0
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="price">Giá sản phẩm</label>
                    <input
                      type="text"
                      id="price"
                      class="form-control form-control-lg"
                      placeholder="Nhập giá..."
                      formControlName="price"
                    />
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      !productForm.get('price')?.valid &&
                      productForm.get('price')?.touched
                    "
                  >
                    Giá phải lớn hơn 0
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="form-label" for="description">Mô tả</label>
                <textarea
                  class="form-control"
                  id="description"
                  rows="5"
                  placeholder="Nhập mô tả của bạn ở đây..."
                  formControlName="description"
                ></textarea>
                <div
                  class="text-danger"
                  *ngIf="
                    !productForm.get('description')?.valid &&
                    productForm.get('description')?.touched
                  "
                >
                  Bắt buộc phái description
                </div>
              </div>

              <div class="mt-4 pt-2">
                <input
                  data-mdb-ripple-init
                  class="btn btn-primary btn-lg"
                  type="submit"
                  value="Update"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
